<!-- FILEPATH: /Users/hamedaljamry/code/Hamed-Aljamry/JobFinder/app/views/pages/home.html.erb -->

  <div class="container">
    <h1>Welcome to Job Finder</h1>
    <p>Find your dream job with ease!</p>
    <%= link_to "New User Questionnaire", new_user_questionnaire_path(current_user), class: "button" %>
  </div>
